* {
  font-family: 'Open Sans', sans-serif;  
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.name {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 55%;
}

h1 {
  height: 30%;
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #f97e76;
  /*background-color: #EEEEEE;*/
}

.header h2 {
  height: 20%;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 24px;
  /*background-color: #EEEEEE;*/
}

.contact {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 30%;
  /*background-color: #EEEEEE;*/
}

h3 {
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 5px;

}

.intro {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  margin-bottom: 30px;
}

.intro h2 {
  height: 70%;
  width: 40%;
  margin-right: 20px;
  font-weight: 200;
  font-size: 24px;
  /*background-color: #EEEEEE;*/
}

.intro button {
  transition: all 0.6s;
  height: 70%;
  width: 20%;
  background-color: #EEEEEE;
}

.intro-reverse {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  margin-bottom: 50px;
  opacity: 0;
  transition: all 0.6s;
}

.intro-reverse h2 {
  height: 70%;
  width: 40%;
  font-weight: 200;
  font-size: 24px;
  margin-right: 20px;
  /*background-color: #EEEEEE;*/
}

.intro-reverse button {
  height: 70%;
  width: 20%;
  background-color: #EEEEEE;
}

.button-1 {
  margin-right: 20px;
}

.button-2 {
  /*opacity: 0;*/
}

.timeline {
  height: 3000px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition: all 0.6s;
  opacity: 0;
}

.timeline-reverse {
  flex-direction: column-reverse;
}

.show {
  opacity: 1;
}

.time-stamp {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.company-location-dates {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  height: 30%;
  width: 35%;
}

.company-location-dates h4 {
  height: 25%;
  margin-bottom: 10px;
  background-color: #EEEEEE;
}

.company-location-dates p {
  height: 15%;
  margin-bottom: 10px;
  background-color: #EEEEEE;
}

.line-date {
  display: flex;
  flex-direction: column;
  width: 5%;
  position: relative;
}

.line {
  height: 100%;
  width: 3px;
  align-self: center;
  background-color: #f97e76;
}

.date {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -19px;
  top: 30px;
  width: 45px;
  height: 45px;
  background-color: #AAAAAA;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
}

.title-description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 50%;
  width: 60%;
}

.title-description h4 {
  height: 25%;
  margin-bottom: 10px;
  background-color: #EEEEEE;
}

.title-description p {
  height: 15%;
  margin-bottom: 10px;
  background-color: #EEEEEE;
}

.info {
  transition: all 0.6s;
  opacity: 0;
}

.info.show {
  opacity: 1;
}

