* {
  font-family: Open Sans, Helvetica Neue, Arial;
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.name {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 55%;
}

h1, h2 {
  height: 25%;
  background-color: #EEEEEE;
  margin-bottom: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 35%;
}

h3 {
  height: 25%;
  background-color: #EEEEEE;
  margin-bottom: 10px;
}

.timeline {
  height: 1000px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.today {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.company-location-dates {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 35%;
}

.company-location-dates h4 {
  height: 25%;
  margin-bottom: 10px;
  background-color: #EEEEEE;
}

.company-location-dates p {
  height: 15%;
  margin-bottom: 10px;
  background-color: #EEEEEE;
}

.line-date {
  display: flex;
  flex-direction: column;
  width: 5%;
  position: relative;
}

.line {
  height: 100%;
  width: 3px;
  align-self: center;
  background-color: #AAAAAA;
}

.date {
  position: absolute;
  left: -14px;
  top: 10px;
  width: 35px;
  height: 35px;
  background-color: #AAAAAA;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
}

.title-description {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 60%;
}

.title-description h4 {
  height: 25%;
  margin-bottom: 10px;
  background-color: #EEEEEE;
}

.title-description p {
  height: 15%;
  margin-bottom: 10px;
  background-color: #EEEEEE;
}

.today-info {
  transition: all 0.4s;
  opacity: 0;
}

.today-info.show {
  opacity: 1;
}

