* {
  font-family: Open Sans, Helvetica Neue, Arial;
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
}


.name {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}


h1, h2 {
  height: 25%;
  background-color: #EEEEEE;
  border: 1px solid #333333;
  margin-bottom: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35%;
}


h3 {
  height: 25%;
  background-color: #EEEEEE;
  border: 1px solid #333333;
  margin-bottom: 10px;
}